header
  .container
    .row
      .col-md-10.col-md-offset-1
        h1.text-center progression
        h5.text-center.progression.bottom.mock.staggered(data-progression-mock="10")
          Pure CSS progress bars with minimal effort!
