header
  .container
    .row
      .col-md-10.col-md-offset-1
        h1.text-center progre(c)ss
        h5.text-center.progrecss.bottom.mock.staggered(data-progrecss-mock="10")
          Pure CSS progress bars with minimal effort!
