extends layout-blocks/layout
block content
  .container
    .row
      .col-md-8.col-md-offset-2
        ul.steps
          li.
            include the <a href="https://github.com/jh3y/progrecss">stylesheet</a>
          li.
            add the class <code>progrecss</code> to your element (any existing element)
          li.
            Add a data attribute <code>data-progrecss</code> defining the completion percentage (1 to 100) and any optional data attributes and classes for your desired behaviour/position/appearance*
          li.
            update progrecss value if necessary using scripts!
        .code-snippet.hide.show
            pre
              code.
                &lt;div  class=&quot;progrecss&quot; data-progrecss=&quot;77&quot;&gt;your content!&lt;/div&gt;
        .code-snippet.hide(name = "basic")
            pre
              code.
                &lt;div class=&quot;progrecss fixed blue&quot; data-progrecss=&quot;75&quot;&gt;fixed blue progre(c)ss&lt;/div&gt;
        .code-snippet.hide(name = "mock")
            pre
              code.
                &lt;div class=&quot;progrecss mock fixed red&quot; data-progrecss-mock=&quot;5&quot;&gt;fixed red mocked progre(c)ss&lt;/div&gt;
        .code-snippet.hide(name = "staggered-mock")
            pre
              code.
                &lt;div class=&quot;progrecss mock fixed staggered green&quot; data-progrecss-mock=&quot;5&quot;&gt;fixed staggered mock progre(c)ss&lt;/div&gt;
        .code-snippet.hide(name = "timer")
            pre
              code.
                &lt;div class=&quot;progrecss timer fixed purple&quot; data-progrecss-timer=&quot;10&quot;&gt;timer progre(c)ss&lt;/div&gt;
        .options
          button.btn.btn-info.action(name = "basic").
            basic
          button.btn.btn-info.action(name = "mock").
            mock
          button.btn.btn-info.action(name = "staggered-mock").
            staggered mock
          button.btn.btn-info.action(name = "timer").
            timer
  script.
    var setDemo = function (name, element) {
      $('.demo-container').remove();
      $('.show').removeClass('show');
      $('.code-snippet[name="' + name + '"]').addClass('show');
      $('body').prepend(element);
    };
    $('.action').on('click', function (event) {
      var action = $(this).attr('name');
      switch(action) {
        case "basic":
          setDemo('basic', '<div class = "demo-container progrecss fixed blue" data-progrecss = "0"></div>')
          setTimeout(function () {$('.demo-container').attr('data-progrecss', '75');}, 1000);
          break;
        case "mock":
          setDemo('mock', '<div class = "demo-container progrecss mock fixed red" data-progrecss-mock = "5"></div>');
          break;
        case "staggered-mock":
          setDemo('staggered-mock', '<div class = "demo-container progrecss fixed mock staggered green" data-progrecss-mock = "5"></div>');
          break;
        case "timer":
          setDemo('timer', '<div class = "demo-container progrecss fixed timer purple" data-progrecss-timer = "10"></div>');
          break;
      }
    });
