---
layout: default
---
header.container
	.row
		.col-md-8.col-md-offset-2
			h1.
				progre(c)ss
			h5.progrecss.bottom.mock.staggered(data-progrecss-mock="10").
				pure css progress bars with minimal effort!
.content
	.container
		.row
			.col-md-8.col-md-offset-2
				ul.steps
					li.
						include the <a href="https://github.com/jh3y/progre-c-ss">stylesheet</a>
					li.
						add the class <code>progrecss</code> to your element (any existing element)
					li.
						Add a data attribute <code>data-progrecss</code> defining the completion percentage (1 to 100) and any optional data attributes and classes for your desired behaviour/position/appearance*
					li.
						update progre(c)ss value if necessary using simple vanilla js or whatever suits you best!
				.code-snippet
					.highlight.hide.show
						pre
							span.nt.
								&lt;div
							span.na
								| class=
							span.s.
								&quot;progrecss&quot;
							span.na.
								data-progrecss=
							span.s.
								&quot;77&quot;
							span.nt.
								&gt;
							span.text.
								your content!
							span.nt.
								&lt;/div&gt;
				.code-snippet
					.highlight.hide(name = "basic")
						pre
							span.nt.
								&lt;div
							span.na
								| class=
							span.s.
								&quot;progrecss fixed blue&quot;
							span.na.
								data-progrecss=
							span.s.
								&quot;75&quot;
							span.nt.
								&gt;
							span.text.
								fixed blue progre(c)ss
							span.nt.
								&lt;/div&gt;
				.code-snippet
					.highlight.hide(name = "mock")
						pre
							span.nt.
								&lt;div
							span.na
								| class=
							span.s.
								&quot;progrecss mock fixed red&quot;
							span.na.
								data-progrecss-mock=
							span.s.
								&quot;5&quot;
							span.nt.
								&gt;
							span.text.
								fixed red mocked progre(c)ss
							span.nt.
								&lt;/div&gt;
				.code-snippet
					.highlight.hide(name = "staggered-mock")
						pre
							span.nt.
								&lt;div
							span.na
								| class=
							span.s.
								&quot;progrecss mock fixed staggered green&quot;
							span.na.
								data-progrecss-mock=
							span.s.
								&quot;5&quot;
							span.nt.
								&gt;
							span.text.
								fixed staggered mock progre(c)ss
							span.nt.
								&lt;/div&gt;
				.options
					button.btn.btn-info.action(name = "basic").
						basic
					button.btn.btn-info.action(name = "mock").
						mock
					button.btn.btn-info.action(name = "staggered-mock").
						staggered mock
				p.lead.
					That's it!
				p.
					(no js files or dependencies!)
				p.
					*see the <a href="https://github.com/jh3y/progre-c-ss" target="_blank">docs</a> for extra help with set up and configuration etc.
				.row
					.col-md-12
						iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=progre-c-ss&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
						iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=progre-c-ss&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
						iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=progre-c-ss&type=follow&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120px", height="20")






